[core]
  pager = less -R
  excludesfile = ~/.gitignore
  autocrlf = input
[user]
  name = sakushin
  email = sakushin20xx@gmail.com
[push]
  default = current
[pull]
  rebase = true
[merge]
  ff = false
[color]
  ui = auto
[http]
  postBuffer = 524288000
[alias]
  sh = show
  # status
  s = status
  st = status
  # add
  a = add
  ad = add
  # log
  l = log
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  # show-branch
  shbr = show-branch --sha1-name
  # commit
  ci = commit
  cia = commit -a
  civ = commit -v
  ciav = commit -av
  # checkout
  co = checkout
  cob = checkout -b
  # branch
  br = branch
  brr = branch -r
  # rebase
  rb = rebase
  rbi = rebase -i
  # reset
  rs = reset
  # stash
  sta = stash
  stap = stash pop
[include]
  path = ~/.gitconfig.local
