# my scripts
*sakushin*

# idea
.idea/
*.iml

# eclipse
.settings
.project
.buildpath
.classpath

# other
.svn/
*.swp
*~
.bundle/
.envrc
.~*
packer_compiled.lua

# env
.env
.local.env
.override.env
docker-compose.override.y*ml
