[core]
  pager = less -R
  excludesfile = ~/.gitignore
  autocrlf = input
[user]
	name = sakushin
  email = sakushin20xx@gmail.com
[pull]
  rebase = true
[color]
  ui = auto
[http]
  postBuffer = 524288000
[alias]
  sh = show
  # status
  s = status
  st = status
  # add
  a = add
  ad = add
  # log
  l = log
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  # show-branch
  shbr = show-branch --sha1-name
  showbr = show-branch --sha1-name
  # commit
  ci = commit
  cia = commit -a
  civ = commit -v
  ciav = commit -av
  cirs = commit -av -c ORIG_HEAD # re-commit to fix after soft reset
  # checkout
  co = checkout
  cob = checkout -b
  # branch
  br = branch
  brr = branch -r
  # rebase
  rb = rebase
  rbi = rebase -i
  rbi2 = rebase -i HEAD~2
  rbi3 = rebase -i HEAD~3
  rbi4 = rebase -i HEAD~4
  rbi5 = rebase -i HEAD~5
  rbi6 = rebase -i HEAD~6
  rbi7 = rebase -i HEAD~7
  # reset
  rs = reset
  rs2 = reset --soft HEAD^
  #rsh = reset --hard HEAD
  #rsh2 = reset --hard HEAD^
  # stash
  sta = stash
  stap = stash pop
[include]
  path = ~/.gitconfig.local
